<section class="py-5" style=" position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('static/img/main-bg.avif');
    background-position: center;
    background-repeat: no-repeat;
    ">
        <h1 class="text-center text-white"></h1>
        <ul class="nav nav-pills mb-3 mt-5 bg-white rounded-3 mx-auto p-2" id="pills-tab" role="tablist" style="width: max-content;">
            <li class="nav-item rounded-pill" role="presentation">
              <button class="nav-link active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy" type="button" role="tab" aria-controls="pills-buy" aria-selected="true">Добавить клиента</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-rent-tab" data-bs-toggle="pill" data-bs-target="#pills-buy" type="button" role="tab" aria-controls="pills-buy" aria-selected="false">Договора</button>
            </li>
        </ul>
    </section>