{% extends 'base.html' %} 
{% block title %} {{title}} {% endblock %} 
{% block body %} 
{% include 'menu.html' %}

<section class="catalog-section py-5 container-lg">
	<div class="container text-center mt-5">
		<div class="row align-items-center">
			<div class="col-12 col-md-8 mb-2">
				<div class="card text-start">
					<div class="card-body">
						<h5 class="card-title">Заявки на обработку данных</h5>
					</div>
					{% if data_ticket %} 
          {% for dt in data_ticket %}
					<ul class="list-group list-group-flush">
						<li
							class="d-flex justify-content-between border-bottom"
							style="font-size: 20px; margin: 10px"
						>
							<div class="me-3">Клиент: {{dt.fname}} {{dt.lname}}</div>
						</li>
						<li class="list-group-item d-flex justify-content-between">
              <p class="card-link">Номер телефона</p><span>{{dt.phone}}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<p class="card-link">Email</p><span>{{dt.email}}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between">
							<p class="card-link">Дата</p><span>{{dt.tickets_start_date}}</span>
						</li>
            <li class="list-group-item d-flex justify-content-end">
              <div class="btn btn-primary btn-block" style="max-width:200px;">
                <a href="#" class="card-link" style="color: aliceblue;">Заключить договор</a>
              </div>
            </li>
					</ul>
					{% endfor %} 
          {% else %}
					<p style="margin: 5px; font-size: 20px; text-align: center">
						У вас нет заявок
					</p>
					{% endif %}
				</div>
			</div>
			<div class="col-12 col-md-4 mb-2">
				<div class="card text-start">
					{% for dp in data_profile %}
					<div class="card-body">
						<h3 class="card-title">Профиль</h3>
					</div>
					<ul class="list list-unstyled mt-2">
						<li
							class="d-flex justify-content-between border-bottom"
							style="font-size: 25px; margin: 10px"
						>
							<div class="me-3">Логин</div>
							<div>{{dp.username}}</div>
						</li>
						<li
							class="d-flex justify-content-between border-bottom"
							style="font-size: 25px; margin: 10px"
						>
							<div class="me-3">Фамилия</div>
							<div>{{dp.fname}}</div>
						</li>
						<li
							class="d-flex justify-content-between border-bottom"
							style="font-size: 25px; margin: 10px"
						>
							<div class="me-3">Имя</div>
							<div>{{dp.lname}}</div>
						</li>
						<li
							class="d-flex justify-content-between border-bottom"
							style="font-size: 25px; margin: 10px"
						>
							<div class="me-3">Телефон</div>
							<div>{{dp.phone}}</div>
						</li>
						<li
							class="d-flex justify-content-between border-bottom"
							style="font-size: 25px; margin: 10px"
						>
							<div class="me-3">Email</div>
							<div>{{dp.email}}</div>
						</li>
					</ul>
					{% endfor %}
          <button class="btn btn-primary btn-block">
              <a href="/clients" style="color: aliceblue;">Добавть клиента</a>
          </button>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
